<header class="site-header">
	<div class="wrapper">
		<a class="site-title" href="{{ site.baseurl }}/"><div class="circle logo"></div></a>
		<nav class="site-nav">
			<a class="about {% if page.section == 'about' %}active{% endif %}" href="{{ '/about' | prepend: site.baseurl }}">About</a>
			<a class="projects {% if page.layout == 'project' %}active{% endif %}" href="{{ '/projects' | prepend: site.baseurl }}">Projects</a>
			<a class="writing {% if page.section == 'writing' %}active{% endif %}" href="{{ '/writing' | prepend: site.baseurl }}">Writing</a>
		</nav>
	</div>
</header>
