html {
	background-color: $color-white;
}
body {
	font-family: $font-stack-sans;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: $font-weight-semibold;
	margin-bottom: $unit-half;
}
h1 {
	font-size: 48px;
	line-height: 60px;

	> a {
		background-position: 0 48px;
	}
}
h2 {
	font-size: 32px;
	line-height: 48px;

	> a {
		background-position: 0 32px;
	}
}
h3 {
	font-size: 24px;
	line-height: 36px;

	> a {
		background-position: 0 24px;
	}
}
h4, h5, h6 {
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;

	> a {
		background-position: 0 18px;
	}
}
p {
	font-size: 18px;
	line-height: $unit;
	margin-bottom: $unit;

	> a,
	em a,
	strong a {
		background-position: 0 18px;
	}
}
ul {
	list-style: none;
}
li {
	font-size: 18px;
	line-height: 24px;
}
article {
	ul {
		margin: 0 0 $unit;
		padding-left: $unit-half;
	}
	li {
		margin-left: 6px;
		text-indent: -14px;

		&:before {
			color: blue;
			font-weight: $font-weight-bold;
			font-size: 24px;
			line-height: 24px;
			vertical-align: bottom;
			padding: 0 $unit-quarter 0 0;
			content: '\00b7'; // · &middot;
		}
		> a {
			background-position: 0 18px;
		}
		> ul {
			margin: 0;
		}
	}
}
strong {
	font-weight: $font-weight-semibold;
}
a {
	text-decoration: none;
}

blockquote {
	border-left-style: solid;
	border-left-width: $unit-quarter;
	padding-left: $unit-half;
	margin-bottom: $unit;

	> :last-child {
		margin-bottom: 0;
	}
}


.wrapper {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: $unit;
}

.site-header {
	height: $height-header;

	.wrapper {
		padding: $unit-half;
	}
}
.site-title {
	display: inline-block;

	.circle {
		height: $unit-double;
		width: $unit-double;
		border-color: #2e4259;
		border-radius: 50%;
		border-style: solid;
		border-width: 4px;
		overflow: hidden;
		background: #03c8fa;

		&.logo:before {
			content: 'TS';
			position: relative;
			color: #2e4259;
			line-height: 40px;
			font-size: 32px;
			margin-left: 3px;
			font-weight: 700;
			letter-spacing: -3px;
			font-family: 'Source Code Pro';
		}
	}
}
.site-nav {
	align-self: flex-end;
	margin-left: auto;

	a {
		display: inline-block;
		font-size: $font-size;
		font-weight: $font-weight-semibold;
		line-height: $unit-double;
		padding: 0 $unit-half;
		text-transform: uppercase;
	}
}

.listing,
.post {
	margin: 0 auto;
	width: $width-content;
}
.post-meta {
	display: block;
	font-size: 14px;
	line-height: $unit;
	margin: $unit-half-negative 0 $unit-half;

	> a {
		background-position: 0 14px;
	}
}
.post-list li {
	margin-bottom: $unit-double;
}

.site-nav {
	a {
		color: $color-first;
	}
	.about {
		&.active {
			color: $color-second;
		}
		&:hover {
			color: complement($color-second);
		}
	}
	.projects {
		&.active {
			color: $color-fifth;
		}
		&:hover {
			color: complement($color-fifth);
		}
	}
	.writing {
		&.active {
			color: $color-third;
		}
		&:hover {
			color: complement($color-third);
		}
	}
}

.intro {
	@include colorize($color-first);
}
.about {
	@include colorize($color-second);
}
.projects {
	@include colorize($color-fifth);
}
.writing {
	@include colorize($color-third);
}

.home {
	.slide {
		position: relative;

		.scroll {
			left: 0;
			position: absolute;
			top: 0;
		}
	}
	.wrapper {
		align-content: stretch;
		height: 100%;
		padding: 0 $unit-double;
	}
	.column {
		flex: 1;
	}
	.intro {
		overflow: hidden;
		position: relative;

		.column {
			z-index: 10;
		}

		h1 {
			line-height: 1.5;
			margin-bottom: 0;
		}
		h2 {
			line-height: 1;
		}
		.lead {
			font-weight: 500;
			font-size: 24px;

			> a {
				background-position: 0 24px;
			}
		}
		.circle {
			float: right;
			height: 300px;
			width: 300px;
		}
	}
	.writing {
		.column {
			padding: 0 $unit;
		}
		.post-list li {
			margin-bottom: $unit;
		}
	}
	.projects {
		.column {
			padding: 0 $unit;
		}
	}
}


.separator {
	font-weight: 500;
	font-size: 24px;
	line-height: 0px;
	vertical-align: sub;
	padding: 0 6px;

	&:before {
		content: '\00b7'; // · &middot;
	}
}

.site-footer {
	height: $unit * 10;
	padding-top: $unit-double;

	.wrapper {
		align-items: flex-start;
	}
	li {
		font-size: 14px;

		> a {
			background-position: 0 14px;
		}
	}
	p {
		font-size: 14px;
		margin-bottom: 0;

		> a {
			background-position: 0 14px;
		}
	}
	.contact {
		align-content: flex-end;
		margin-left: auto;
		text-align: right;
	}
}

.icon {

	> svg {
		display: inline-block;
		width: 16px;
		height: 16px;
		vertical-align: middle;

		path {
			fill: $color-white;
		}
	}
}

.home {
	.icon > svg {
		height: 48px;
		width: 48px;

		path {
			fill: #cdeaf8;
		}
	}
	.intro li a {
		background-image: none;

		&:active,
		&:hover {
			path {
				fill: rgb(30, 30, 30);
			}
		}
	}
}
.intro .column {
	position: absolute;
	top: 35%;
	transform: translate(-50%, -50%);
	left: 50%;
	text-align: center;

	li {
		display: inline-block;
	}
}

.circle {
	border-radius: 50%;
	border-style: solid;
	border-width: $unit-half;
	overflow: hidden;
	position: relative;
	z-index: 10;

	&.dot {
		border-width: 0;
		position: absolute;
		z-index: 5;
		opacity: 0.2;

		background-color: $color-first;
		height: 0;
		width: 0;
		transition: all $transition-duration ease $transition-delay;
	}
}

/* standardize any monospaced elements */
pre,
code,
kbd,
samp {
	font-family: $font-stack-mono;
	font-size: 16px;
}
