<!doctype html>
<html lang="en">
<head>
	<post-meta charset="utf-8">
	<post-meta name="viewport" content="width=device-width">
	<post-meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Site Design</title>
	<link href="http://fonts.googleapis.com/css?family={{page.fonts}}" rel="stylesheet" type="text/css">
	<!-- <link rel="stylesheet" href="http://basehold.it/12"> -->
	<link rel="stylesheet" href="{{ "/css/design.css" | prepend: site.baseurl }}">
</head>
<body>
	<div class="wrapper colors">
		<div class="a">
			<div class="swatch"></div>
			<div class="swatch"></div>
			<div class="swatch"></div>
			<div class="swatch"></div>
			<div class="swatch"></div>
			<div class="swatch"></div>
		</div>
		<div class="b">
			<div class="swatch"></div>
			<div class="swatch"></div>
			<div class="swatch"></div>
			<div class="swatch"></div>
			<div class="swatch"></div>
			<div class="swatch"></div>
		</div>
		<div class="c">
			<div class="swatch"></div>
			<div class="swatch"></div>
			<div class="swatch"></div>
			<div class="swatch"></div>
			<div class="swatch"></div>
			<div class="swatch"></div>
		</div>
		<div class="d">
			<div class="swatch"></div>
			<div class="swatch"></div>
			<div class="swatch"></div>
			<div class="swatch"></div>
			<div class="swatch"></div>
			<div class="swatch"></div>
		</div>
		<div class="e">
			<div class="swatch"></div>
			<div class="swatch"></div>
			<div class="swatch"></div>
			<div class="swatch"></div>
			<div class="swatch"></div>
			<div class="swatch"></div>
		</div>
	</div>
	<div class="wrapper sample">
		<div class="a dark">
			<h4>Gentrify American Apparel Truffaut</h4>
			<h3><a href="#">Carles letterpress helvetica food truck</a></h3>
			<span class="post-meta">Aug 23, 2014<span class="separator"></span><a href="#">development</a>, <a href="#">another tag</a></span>
			<p>Keffiyeh <a href="#" class="normal">squid helvetica</a>, fap mumblecore <a href="#" class="hover">forage portland</a> vinyl yr occupy truffaut you probably haven't heard of them. Typewriter wayfarers semiotics, hella blog swag bespoke marfa synth street art twee thundercats.</p>
		</div>
		<div class="a light">
			<h4>Gentrify American Apparel Truffaut</h4>
			<h3><a href="#">Carles letterpress helvetica food truck</a></h3>
			<span class="post-meta">Aug 23, 2014<span class="separator"></span><a href="#">development</a>, <a href="#">another tag</a></span>
			<p>Keffiyeh <a href="#" class="normal">squid helvetica</a>, fap mumblecore <a href="#" class="hover">forage portland</a> vinyl yr occupy truffaut you probably haven't heard of them. Typewriter wayfarers semiotics, hella blog swag bespoke marfa synth street art twee thundercats.</p>
		</div>
	</div>
	<div class="wrapper sample">
		<div class="b dark">
			<h4>Gentrify American Apparel Truffaut</h4>
			<h3><a href="#">Carles letterpress helvetica food truck</a></h3>
			<span class="post-meta">Aug 23, 2014<span class="separator"></span><a href="#">development</a>, <a href="#">another tag</a></span>
			<p>Keffiyeh <a href="#" class="normal">squid helvetica</a>, fap mumblecore <a href="#" class="hover">forage portland</a> vinyl yr occupy truffaut you probably haven't heard of them. Typewriter wayfarers semiotics, hella blog swag bespoke marfa synth street art twee thundercats.</p>
		</div>
		<div class="b light">
			<h4>Gentrify American Apparel Truffaut</h4>
			<h3><a href="#">Carles letterpress helvetica food truck</a></h3>
			<span class="post-meta">Aug 23, 2014<span class="separator"></span><a href="#">development</a>, <a href="#">another tag</a></span>
			<p>Keffiyeh <a href="#" class="normal">squid helvetica</a>, fap mumblecore <a href="#" class="hover">forage portland</a> vinyl yr occupy truffaut you probably haven't heard of them. Typewriter wayfarers semiotics, hella blog swag bespoke marfa synth street art twee thundercats.</p>
		</div>
	</div>
	<div class="wrapper sample">
		<div class="c dark">
			<h4>Gentrify American Apparel Truffaut</h4>
			<h3><a href="#">Carles letterpress helvetica food truck</a></h3>
			<span class="post-meta">Aug 23, 2014<span class="separator"></span><a href="#">development</a>, <a href="#">another tag</a></span>
			<p>Keffiyeh <a href="#" class="normal">squid helvetica</a>, fap mumblecore <a href="#" class="hover">forage portland</a> vinyl yr occupy truffaut you probably haven't heard of them. Typewriter wayfarers semiotics, hella blog swag bespoke marfa synth street art twee thundercats.</p>
		</div>
		<div class="c light">
			<h4>Gentrify American Apparel Truffaut</h4>
			<h3><a href="#">Carles letterpress helvetica food truck</a></h3>
			<span class="post-meta">Aug 23, 2014<span class="separator"></span><a href="#">development</a>, <a href="#">another tag</a></span>
			<p>Keffiyeh <a href="#" class="normal">squid helvetica</a>, fap mumblecore <a href="#" class="hover">forage portland</a> vinyl yr occupy truffaut you probably haven't heard of them. Typewriter wayfarers semiotics, hella blog swag bespoke marfa synth street art twee thundercats.</p>
		</div>
	</div>
	<div class="wrapper sample">
		<div class="d dark">
			<h4>Gentrify American Apparel Truffaut</h4>
			<h3><a href="#">Carles letterpress helvetica food truck</a></h3>
			<span class="post-meta">Aug 23, 2014<span class="separator"></span><a href="#">development</a>, <a href="#">another tag</a></span>
			<p>Keffiyeh <a href="#" class="normal">squid helvetica</a>, fap mumblecore <a href="#" class="hover">forage portland</a> vinyl yr occupy truffaut you probably haven't heard of them. Typewriter wayfarers semiotics, hella blog swag bespoke marfa synth street art twee thundercats.</p>
		</div>
		<div class="d light">
			<h4>Gentrify American Apparel Truffaut</h4>
			<h3><a href="#">Carles letterpress helvetica food truck</a></h3>
			<span class="post-meta">Aug 23, 2014<span class="separator"></span><a href="#">development</a>, <a href="#">another tag</a></span>
			<p>Keffiyeh <a href="#" class="normal">squid helvetica</a>, fap mumblecore <a href="#" class="hover">forage portland</a> vinyl yr occupy truffaut you probably haven't heard of them. Typewriter wayfarers semiotics, hella blog swag bespoke marfa synth street art twee thundercats.</p>
		</div>
	</div>
	<div class="wrapper sample">
		<div class="e dark">
			<h4>Gentrify American Apparel Truffaut</h4>
			<h3><a href="#">Carles letterpress helvetica food truck</a></h3>
			<span class="post-meta">Aug 23, 2014<span class="separator"></span><a href="#">development</a>, <a href="#">another tag</a></span>
			<p>Keffiyeh <a href="#" class="normal">squid helvetica</a>, fap mumblecore <a href="#" class="hover">forage portland</a> vinyl yr occupy truffaut you probably haven't heard of them. Typewriter wayfarers semiotics, hella blog swag bespoke marfa synth street art twee thundercats.</p>
		</div>
		<div class="e light">
			<h4>Gentrify American Apparel Truffaut</h4>
			<h3><a href="#">Carles letterpress helvetica food truck</a></h3>
			<span class="post-meta">Aug 23, 2014<span class="separator"></span><a href="#">development</a>, <a href="#">another tag</a></span>
			<p>Keffiyeh <a href="#" class="normal">squid helvetica</a>, fap mumblecore <a href="#" class="hover">forage portland</a> vinyl yr occupy truffaut you probably haven't heard of them. Typewriter wayfarers semiotics, hella blog swag bespoke marfa synth street art twee thundercats.</p>
		</div>
	</div>
	<div class="wrapper headings">
		<div>
			<h1>Gentrify American Apparel Truffaut</h1>
			<h2>Gentrify American Apparel Truffaut</h2>
			<h3>Gentrify American Apparel Truffaut</h3>
			<h4>Gentrify American Apparel Truffaut</h4>
			<h5>Gentrify American Apparel Truffaut</h5>
			<h6>Gentrify American Apparel Truffaut</h6>
		</div>
	</div>
	<div class="wrapper headings">
		<div>
			<h1><a href="#">Gentrify American Apparel Truffaut</a></h1>
			<h2><a href="#">Gentrify American Apparel Truffaut</a></h2>
			<h3><a href="#">Gentrify American Apparel Truffaut</a></h3>
			<h4><a href="#">Gentrify American Apparel Truffaut</a></h4>
			<h5><a href="#">Gentrify American Apparel Truffaut</a></h5>
			<h6><a href="#">Gentrify American Apparel Truffaut</a></h6>
		</div>
	</div>
	<div class="wrapper titles">
		<div>
			<h2>Gentrify American Apparel Truffaut</h2>
			<span class="post-meta">Aug 23, 2014<span class="separator"></span><a href="#">development</a>, <a href="#">another tag</a></span>
			<p>Keffiyeh <a href="#">squid helvetica</a>, fap mumblecore <a href="#" class="hover">forage portland</a> vinyl yr occupy truffaut you probably haven't heard of them. Typewriter wayfarers semiotics, hella blog swag bespoke marfa synth street art twee thundercats.</p>
			<h3>Gentrify American Apparel Truffaut</h3>
			<span class="post-meta">Aug 23, 2014<span class="separator"></span><a href="#">development</a>, <a href="#">another tag</a></span>
			<p>Keffiyeh <a href="#">squid helvetica</a>, fap mumblecore <a href="#" class="hover">forage portland</a> vinyl yr occupy truffaut you probably haven't heard of them. Typewriter wayfarers semiotics, hella blog swag bespoke marfa synth street art twee thundercats.</p>
			<h4>Gentrify American Apparel Truffaut</h4>
			<span class="post-meta">Aug 23, 2014<span class="separator"></span><a href="#">development</a>, <a href="#">another tag</a></span>
			<p>Keffiyeh <a href="#">squid helvetica</a>, fap mumblecore <a href="#" class="hover">forage portland</a> vinyl yr occupy truffaut you probably haven't heard of them. Typewriter wayfarers semiotics, hella blog swag bespoke marfa synth street art twee thundercats.</p>
		</div>
	</div>
	<div class="wrapper text">
		<article>
			<p>Keffiyeh <a href="#">squid helvetica</a>, fap mumblecore <a href="#" class="hover">forage portland</a> vinyl yr occupy truffaut you probably haven't heard of them. Typewriter wayfarers semiotics, hella blog swag bespoke marfa synth street art twee thundercats.</p>
			<p>Chillwave <strong>butcher shoreditch tattooed</strong>, banh mi cosby sweater marfa beard wes anderson carles quinoa <em>next level gluten-free cred</em> post-ironic.</p>
			<p>Kale chips pop-up small batch Helvetica plaid. Etsy bicycle rights butcher DIY seitan four loko. Godard gentrify leggings, Echo Park paleo occupy banh mi 3 wolf moon. McSweeney's before they sold out try-hard, Thundercats aesthetic pour-over Intelligentsia craft beer retro hella cred Truffaut Helvetica.</p>
			<ul>
				<li>Before they sold out quinoa</li>
				<li>Swag high life freegan butcher hoodie wes anderson. 3 wolf moon bushwick PBR, portland yr sustainable Austin godard vinyl</li>
				<li>Vinyl gentrify jean shorts beard
					<ul>
						<li>Bushwick mumblecore sartorial echo park</li>
						<li>Trust fund cred distillery, fanny pack mlkshk pork belly cornhole aesthetic actually forage. Put a bird on it roof party Tumblr trust fund fixie selfies</li>
						<li>Chambray retro twee readymade skateboard</li>
						<li>Stumptown bicycle rights craft beer high life</li>
					</ul>
				</li>
				<li>Next level helvetica</li>
				<li>Viral whatever chambray letterpress</li>
			</ul>
			<p>Selvage jean shorts XOXO Helvetica Portland, banh mi ethnic High Life freegan chillwave chia ennui 8-bit. Disrupt sartorial Marfa locavore aesthetic. Chia bitters wayfarers fashion axe, artisan McSweeney's fanny pack vinyl keytar tote bag Wes Anderson single-origin coffee.</p>
		</article>
	</div>
</body>
</html>
